<template>
    <v-app>
        <v-card>
            <v-card-title primary-title>
              Subcripcion de programas educativos
            </v-card-title>
            <v-container>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-text-field v-model="var_nombres" :counter="10" :rules="nameRules" label="Nombres" required></v-text-field>
                    <v-text-field v-model="var_apellidos" :counter="10" :rules="nameRules" label="Apellidos" required></v-text-field>
                    <v-text-field v-model="var_telefono" :counter="10" :rules="nameRules" label="Telefono" required></v-text-field>
                    <v-text-field v-model="var_email" :rules="emailRules" label="Correo Electronico" required></v-text-field>
                    <v-select v-model="var_programa_selected" :items="var_programa" :rules="[v => !!v || 'Debes de seleccionar un programa']" label="Selecciona el programa" required return-object item-text="programa"></v-select>
                    <v-btn color="error" class="mr-4" @click="reset">
                        Resetear Formulario
                    </v-btn>
                    <v-btn color="error" class="mr-4" @click="addLeads">
                        Agregar
                    </v-btn>
                </v-form>
            </v-container>
        </v-card>
    </v-app>
</template>
<script>
export default {
    data() {
        return {
            var_nombres: '',
            var_apellidos: '',
            var_email: '',
            var_telefono: '',
            var_programa: [
                { programa: 'Bachillerato', value: 1 },
                { programa: 'Inglés,', value: 2 },
                { programa: 'Preicfes', value: 3 },
            ],
            var_programa_selected: '',

            valid: true,
            nameRules: [
                v => !!v || '',
                v => (v && v.length <= 10) || '',
            ],
            emailRules: [
                v => !!v || '',
                v => /.+@.+\..+/.test(v) || '',
            ],
           
        }
    },
    methods: {
        validate() {
            this.$refs.form.validate()
        },
        reset() {
            this.$refs.form.reset()
        },
        async addLeads() {
            const URL = `/api/add-leads`

            const model = {
                nombres: this.var_nombres,
                apellidos: this.var_apellidos,
                email: this.var_email,
                teléfono: this.var_telefono,
                programa: this.var_programa_selected.programa,

            };
            try {
                let { data } = await axios.post(URL, model);
            } catch (e) {
                console.log(e);
            } finally {
                this.$swal('Tu registro ha sido enviado con exito');
                this.reset();
            }
        },
       
    }
};

</script>
