<template>
    <v-app>
        <v-data-table :headers="headers" :items="var_data_leads" class="elevation-1" no-data-text="No registra datos" :loading="loadingTableLeads" :expanded.sync="expanded" show-expand>
            <template v-slot:item.contactado="{ item }">
                <v-btn color="error" @click="loadForContact(item)" v-if="item.related_contacto.length == 0" >No contactado</v-btn>
                <v-btn  @click="loadForContact(item)" disabled v-else >Contactado</v-btn>
            </template>
            <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                    <tr v-for="contacto in item.related_contacto">
                        <td>
                            <span>Nota:{{contacto.nota}}</span><br />
                            <span>Fecha:{{contacto.created_at}}</span>
                        </td>
                    </tr>
                </td>
            </template>
        </v-data-table>
        <v-dialog v-model="dialogContacto" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>
                    Contactar Lead
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <p>nombres : {{var_load_for_contact.nombres}} </p>
                                <p>apellidos : {{var_load_for_contact.apellidos}} </p>
                                <p>email : {{var_load_for_contact.email}} </p>
                                <p>teléfono : {{var_load_for_contact.teléfono}} </p>
                                <p>programa : {{var_load_for_contact.programa}} </p>
                            </v-col>
                            <v-col cols="12">
                                <v-textarea name="input-7-1" label="Nota" v-model="var_nota_contacto" ></v-textarea>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="addContacto(var_load_for_contact.id)">
                        Contactado
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</template>
<script>
export default {
    mounted() {
        this.getLeads();
    },
    data() {
        return {
            headers: [
                { text: 'Nombres', value: 'nombres', align: 'center', sortable: false },
                { text: 'Apellidos', value: 'apellidos', align: 'center', sortable: false },
                { text: 'Telefono', value: 'email', align: 'center', sortable: false },
                { text: 'Corrreo electronico', value: 'teléfono', align: 'center', sortable: false },
                { text: 'Programa', value: 'programa', align: 'center', sortable: false },
                { text: 'Contactado', value: 'contactado', align: 'center', sortable: false },
                { text: '', value: 'data-table-expand' },

            ],
            var_data_leads: [],
            loadingTableLeads: false,
            expanded: [],
            dialogContacto: false,
            var_load_for_contact: '',
            var_nota_contacto: '',
        }
    },
    methods: {
        async getLeads() {
            const URL = `/api/get-leads`
            this.loadingTableLeads = true;

            try {
                let { data } = await axios(URL)
                this.var_data_leads = data
            } catch (e) {
                console.log(e);
            } finally {
                this.loadingTableLeads = false;
            }

        },
        loadForContact(item){
            this.var_load_for_contact = item
            this.dialogContacto = true
        },
        async addContacto(lead_id){
            const URL = `/api/add-contacto`;
                const model = {
                    nota: this.var_nota_contacto,
                    lead_id: lead_id,
                };
            try {
                let {data} = await axios.post(URL, model)
            } catch(e) {
                console.log(e);
            } finally {
                this.getLeads();
                this.var_nota_contacto = ''
                this.dialogContacto = false
                this.$swal('Lead contactado con exito');
            }
        }
    }
};

</script>
